@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
$ff: "Lato", sans-serif;
$sidebar-bg-color: #424242;
$sidebar-header-bg: #2b2a2a;
$btn-bg-color: #3163f7;
$text-color: rgb(189, 189, 189);
$body-bg-color: #e4e4e4;
$temp-search-bg: rgb(207, 206, 206);
